body {
  display: flex;
  flex-direction: column;
  font-family: Roboto;
  margin: 0 1% 1% 1%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1% 0 2% 0;
  // background-image: linear-gradient(to top, transparent, #4AC5B8)
  background-color: $light-gray;
  border-radius: 5px;
  padding: 2% 0 2% 0;
  img {
    width: 20%;
  }
  h2 {
    color: $rendia-secondary;
    margin: 1% 0 0 0;
    letter-spacing: 3px;
  }
}

.row {
  display: flex;
  flex-direction: column;
  background-color: $light-gray;
  // width: 100%;
  height: 52vh;
  border-radius: 5px;
  border: 2px solid $light-gray;
  margin-bottom: 2%;
}
