.rowHeader {
  display: flex;
  height: 23%;
  color: white;
  // box-shadow: 0 1px 1px 0 rgba(0,0,0,0.25);
  img {
    object-fit: cover;
    object-position: -40px 40%;
    width: 30%;
    height: 100%;
    border-radius: 5px 0 0 0;
  }
  h1 {
    display: flex;
    align-items: center;
    font-size: 2rem;
    margin-right: auto;
    // margin-left: auto;
    z-index: 2;
  }
}

.rowHeader:before {
  content: "";
  position: absolute;
  width: 97.8%;
  height: 11.5%;
  z-index: 1;
  background-image: linear-gradient(to right, transparent, #5F82DB 25%);
  border-radius: 0 5px 0 0;
}
