.rowBody {
  display: flex;
  // justify-content: space-between;
  height: 75%;
  // margin-right: 1.5%;
  padding: 1.5% 2% 0 2%;
  margin-right: 1%;
  overflow-x: scroll;

  .poster:hover {
    // position: absolute;
    transform: scale(1.2);
    transition: transform .5s;
  }

  .posterContainer:hover {
    > .tooltip {
      display: block;
    }
  }

  .posterContainer {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 10%;
    margin-right: 3%;

    .poster {
      width: 100%;
      height: 75%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: top;
        box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
      }
    }

    .link {
      display: flex;
      align-items: center;
      // margin-top: auto;
      flex-grow: 1;
      a {
        display: block;
      }
      img {
        display: block;
        margin: auto;
        width: 80%;

      }
    }
  }
}
